

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/header.css">

</head>
<body>
    <section class="header">
        <div class="container">
            <div class="knot-logo">
                <a href="/"><img src="/images/knot.png" alt="Knot Logo"></a>
            </div>
            <div class="nav">
                <ul class="nav-items">
                    <li class="nav-item-effect <%= pageName === 'home' && 'active' %>" title="Feed"><a class="nav-item" href="/"><i class='bx bx-md bx-news nav-icons'></i></a></li>
                    <li class="nav-item-effect <%= pageName === 'challenges' && 'active' %>" title="Challenges"><a class="nav-item" href="/challenges"><i class='bx bx-md bx-target-lock nav-icons'></i></a></li>
                    <li class="nav-item-effect <%= pageName === 'polls' && 'active' %>" title="Polls" ><a class="nav-item" href="/polls"><i class='bx bx-md bx-poll nav-icons'></i></a></li>
                    <li class="nav-item-effect <%= pageName === 'followers' && 'active' %>" title="Followers"><a class="nav-item" href="/follow/followers"><i class='bx bx-md bxs-user nav-icons'></i></a></li>
                </ul>
            </div>
            <div class="profile-logo">
                <a class="nav-item" title="Profile" href="/profile"><img class="profile-logo" src="<%= profilePic %>" alt=""></a>
            </div>
        </div>
    </section>