<div class="posts">


    <div class="post-container">
        <div class="post-creator">
            <img class="post-profile" src="<%= post.creator.profilePic_url || creatorDetails.profilePic_url %>" alt="">
            <div class="post-creator-name">
                <a href=""><%- post.creator.firstname==undefined ? creatorDetails.creator : post.creator.firstname + ' '
                        + post.creator.lastname %></a>
                <small>
                    <%= new Intl.RelativeTimeFormat('en',{style: 'long' }).format((((post.timestamp.valueOf()) -
                        Date.now()) / (1000 * 60 * 60 * 24)).toFixed(),'day') %>
                </small>
            </div>
        </div>
        <div class="post-content">
            <p>
                <%=post.content%>
            </p>
            <img class="post-image" src="<%= post.imagePath || '' %>" alt="">
        </div>
        <div class="interaction" data-post-id="<%=post._id%>" data-upvotes="<%=post.stats.upvoted_by.length%>"
            data-downvotes="<%=post.stats.downvoted_by.length%>" data-user-id="<%=userId%>">
            <div class='like <%-post.stats.upvoted_by.includes(userId)? "liked" : ""%> '>
                <i class='bx bx-sm <%-post.stats.upvoted_by.includes(userId)? "bxs-upvote" : "bx-upvote"%> '></i>
                <span id="upvote-count"><%= post.stats.upvoted_by.length %></span>
            </div>
            <div class='dislike <%-post.stats.downvoted_by.includes(userId)? "disliked" : ""%> '>
                <i class='bx bx-sm <%-post.stats.downvoted_by.includes(userId)? "bxs-downvote" : "bx-downvote"%> '></i>
                <span id="downvote-count"><%= post.stats.downvoted_by.length %></span>
            </div>
            <div class="comment">
                <i class='bx bx-sm bx-comment'></i>
                <span><%= post.stats.commented_by.length %></span>
            </div>
            <div class="share">
                <i class='bx bx-sm bx-share bx-flip-horizontal'></i>
                <span><%= post.stats.shares %></span>
            </div>
        </div>
    </div>
</div>