<%- include ('partials/header',{pageTitle: pageInfo.title}) %>
    <%- include ('partials/nav',{profilePic: pageInfo.profilePic, pageName: pageInfo.pagename }) %>

        <section class="challenges-section">
            <% challenges.map(challenge=>{ %>
                <div class="challenges">
                    <div class="each-challenge-container">
                        <div class="post-creator">
                            <img class="post-profile" src="<%= challenge.creatorId.profilePic_url %>" alt="">
                            <div class="post-creator-name">
                                <a href="/profile/<%=challenge.creatorId._id%>"><%- challenge.creatorId.firstname==undefined ? challenge.creatorId :
                                        challenge.creatorId.firstname + ' ' + challenge.creatorId.lastname %></a>
                                <small>
                                    <%= new Intl.RelativeTimeFormat('en',{style: 'long'
                                        }).format((((challenge.timestamp.valueOf()) - Date.now()) / (1000 * 60 * 60 *
                                        24)).toFixed(),'day') %>
                                </small>
                            </div>
                        </div>
                            <div class="challenge-title">
                                <%=challenge.content%>
                                    <% const remainingTime = new Date(challenge.duration) - new Date(); %>
                                    <% if (remainingTime > 0) { %>
                                      <% const remainingDays = Math.ceil(remainingTime / (1000 * 60 * 60 * 24)); %>
                                      <% if (remainingDays > 1) { %>
                                        <p class="small-duration"><%= remainingDays %> days remaining</p>
                                      <% } else { %>
                                        <p class="small-duration">1 day remaining</p>
                                      <% } %>
                                    <% } else { %>
                                        <p class="small-duration duration-ended">Challenge has ended</p>
                                    <% } %>
                            </div>
                        <div class="post-content">
                            <p class="challenge-desc">
                                <%=challenge.description%>
                            </p>
                        </div>
                        <div class="challenge-interaction">
                            <div class="current-participation"><i class='bx bx-male-female'></i>
                                <div class="count"><%= challenge.participators.length%> Participants</div>
                            </div>
                            <% if (challenge.participators.includes(pageInfo.userId)) { %>
                                <div class="participate-btn participated"><i class='bx bxs-spa'></i>Participated</div>
                            <% } else if(challenge.creatorId._id == pageInfo.userId) { %>
                                <div class=""></div>
                            <% } else { %>
                                <div class="participate-btn"><i class='bx bxs-spa'></i>Participate</div>
                            <% } %>

                            
                        </div>
                    </div>

                </div>

                <% }) %>
        </section>