<%- include ('partials/header',{pageTitle: pageTitle}) %>
    <%- include ('partials/nav',{profilePic: profilePicLoggedIn, pageName: pageName }) %>

<div class="post-section">
    <div class="posts">
        <div class="post-container">
            <div class="post-creator">
                <a href="/profile"><img class="post-profile" src="<%=profilePicLoggedIn %>" alt=""></a>
                <div class="post-creator-name">
                    <a href="/profile"><%= user.firstname+' '+ user.lastname %></a>
                    <small>
                        <%= user.followers.length %> Followers
                    </small>
                    <small>
                        <%= user.following.length %> Following
                    </small>
                    <a href="/profile">Visit Profile</a>
                </div>
            </div>
        </div>
            <div class="follow-options">
                <div class="follower <%= isFollowers && 'active-option' %>">
                    <a href="/follow/followers">Followers</a>
                </div>
                <div class="following <%= isFollowing && 'active-option' %>">
                    <a href="/follow/following">Following</a>
                </div>
            </div>
        <div class="post-container">
            <% isFollowers && followers.map(follower => { %>
                <div class="post-content">

                    <div class="post-creator">
                        <img class="post-profile" src="<%= follower.profilePic_url %>" alt="">
                        <div class="post-creator-name">
                            <a href="/profile/<%= follower._id %>"><%= follower.firstname+' '+follower.lastname  %></a>
                        </div>
                        <a class="unfollow-btn" href="/profile/follow/<%=follower._id%>"><%= currentUser.following.includes(follower._id) ? 'Unfollow' : 'Follow' %></a>
                    </div>
                </div>
            <% }) %>

            <% isFollowing && following.map(following => { %>
                <div class="post-content">

                    <div class="post-creator">
                        <img class="post-profile" src="<%= following.profilePic_url %>" alt="">
                        <div class="post-creator-name">
                            <a href="/profile/<%= following._id %>"><%= following.firstname+' '+following.lastname  %></a>
                        </div>
                        <a class="unfollow-btn" href="/profile/follow/<%=following._id%>">Unfollow</a>
                    </div>
                </div>
            <% }) %>
        </div>
        
    </div>
</div>
        

