<%- include ('partials/header',{pageTitle: pageInfo.title}) %>
    <%- include ('partials/nav',{profilePic: pageInfo.profilePic, pageName: pageInfo.pagename }) %>

        <section class="poll-section">

            <% polls.map(poll=>{ %>
                <div class="polls">
                    <div class="poll-container">
                        <div class="post-creator">
                            <img class="post-profile" src="<%= poll.creatorId.profilePic_url %>" alt="">
                            <div class="post-creator-name">
                                <a href=""><%- poll.creatorId.firstname==undefined ? poll.creatorId :
                                        poll.creatorId.firstname + ' ' + poll.creatorId.lastname %></a>
                                <small>
                                    <%= new Intl.RelativeTimeFormat('en',{style: 'long'
                                        }).format((((poll.timestamp.valueOf()) - Date.now()) / (1000 * 60 * 60 *
                                        24)).toFixed(),'day') %>
                                </small>
                            </div>
                        </div>
                        <p class="poll-title">
                            <%=poll.content%>
                        </p>
                        <div class="poll-options">
                            <% poll.options.map(option=>{%>
                                <div class="option">
                                    <p>
                                        <%=option.optionsName%>
                                        
                                    </p>
                                    <span>
                                        <%=option.voted_by.length%> 
                                    </span>
                                </div>
                                <%})%>

                        </div>
                    </div>

                </div>

                <% }) %>
        </section>