<%- include ('partials/header',{pageTitle: pageInfo.title}) %>
    <%- include ('partials/nav',{profilePic: pageInfo.profilePic, pageName: pageInfo.pagename }) %>

        <section class="poll-section">

            <% polls.map(poll=>{ %>
                <div class="polls">
                    <div class="poll-container">
                        <div class="post-creator">
                            <img class="post-profile" src="<%= poll.creatorId.profilePic_url %>" alt="">
                            <div class="post-creator-name">
                                <a href="/profile/<%=poll.creatorId._id%>"><%- poll.creatorId.firstname==undefined ?
                                        poll.creatorId : poll.creatorId.firstname + ' ' + poll.creatorId.lastname %></a>
                                <small>
                                    <%= new Intl.RelativeTimeFormat('en',{style: 'long'
                                        }).format((((poll.timestamp.valueOf()) - Date.now()) / (1000 * 60 * 60 *
                                        24)).toFixed(),'day') %>
                                </small>
                            </div>
                        </div>
                        <p class="poll-title">
                            <%=poll.content%>
                            <%=poll.participators.includes(pageInfo.userId)%>
                        </p>
                        <div class="poll-options" data-poll-id="<%=poll._id%>">
                            <% poll.options.map(option=>{%>
                                <div class='option <%-option.voted_by.includes(pageInfo.userId)? "voted" : ""%>'
                                    data-option-id="<%=option._id%>">
                                    <p>
                                        <%=option.optionsName%>
                                    </p>
                                    <span class='<%-poll.participators.includes(pageInfo.userId)? "" : "hide"%>'>
                                        <%=option.voted_by.length%>
                                    </span>
                                </div>
                                <%})%>

                        </div>
                    </div>

                </div>

                <% }) %>
        </section>