<%- include ('partials/header',{pageTitle: pageTitle}) %>
    <%- include ('partials/nav',{profilePic: profilePicLoggedIn, pageName: "" }) %>
        <%- include ('partials/profilecard',{user: user, activeUser: activeUser }) %>
    
<div class="profileNavigation">
    <ul class="profileNav-items">
        <li class=""><a class="" href=""><i class='bx bx-md bxs-customize'></i></a></li>
        <li class=""><a class="" href=""><i class='bx bx-md bxs-widget'></i></a></li>
        <li class=""><a class="" href=""><i class='bx bx-md bxs-edit'></i></a></li>
    </ul>
</div>
            <div class="ownPosts">
                <% posts.map(post=>{ %>
                    <%- include ('partials/timeline',{post: post, userId: user._id, creatorDetails: creatorDetails, pageName: pageName}) %>

                        <% }) %>
            </div>














            <!-- <div class="box">
            <div class="container">
                <div class="details">
                    <p>Hii I am <%=user.firstname%>
                    </p>
                    <p>My last name is <%=user.lastname%>
                    </p>
                    <p>Hii my bio is <%=user.bio%>
                    </p>
                    <p>Hii my email <%=user.email%>
                    </p>
                    <img style="border-radius: 50%;" src="<%=user.profilePic_url%>" alt="">
                    <p>this is an add post button</p>
                </div>
                <a href="/post/add">
                    <div class="alternates">
                        <button type="submit" id="google" class="hovereffect">🔥 add post</button>
                    </div>
                </a>
            </div>
        </div> -->